---
---
<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="author" content="{{ site.author }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Computer Vision Group</title>
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="icon" href="assets/images/favicon.png" type="image/png">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML" async></script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        TeX: {
          equationNumbers: {
            autoNumber: "AMS"
          }
        },
        tex2jax: {
          inlineMath: [ ['$','$'], ['\\(', '\\)'] ],
          displayMath: [ ['$$','$$'] ],
          processEscapes: true,
        }
      });
    </script>
  </head>
  <body>
    <header>
      <div id="headerTextContainer">
        <h1 id="title" class="centered">{{ site.title }}</h1>
        <p id="headerText">The <a href="https://www.cv.informatik.uni-siegen.de" target="_blank">Computer Vision Group</a> headed by Prof. Michael Moeller conducts research in the field of mathematical image processing, computer vision, and machine learning.</p>
        <div id="headerLinks" class="centered"><a href="https://scholar.google.de/citations?user=sxzdAGUAAAAJ" target="_blank">Scholar</a> / <a href="https://github.com/Computer-Vision-Group-Siegen/" target="_blank">GitHub</a></div>
      </div>
      <img id="logo" src="assets/images/logo.svg"></img>
    </header>

    <section id="research">
      <h2 id="researchTitle">Research</h2>
      <p id="researchText">Research in computer vision, machine learning, optimization. </p>
    </section>

    <section id="publications">
      {% assign all_years = site.publications | map: "year" %}
      {% assign unique_years = "" | split: "," %}
      {% for year in all_years %}
        {% unless unique_years contains year %}
          {% assign unique_years = unique_years | push: year %}
        {% endunless %}
      {% endfor %}
      {% assign unique_years = unique_years | sort_natural | reverse %}
      {% assign invalid_publications = "" | split: "," %}
      {% assign valid_publications = "" | split: "," %}
      {% for publication in site.publications %}
        {% if publication.month %}
          {% assign valid_publications = valid_publications | push: publication | sort: "month" | reverse %}
        {% else %}
          {% assign invalid_publications = invalid_publications | push: publication | sort_natural: "title" %}
        {% endif %}
      {% endfor %}
      {% assign publications = valid_publications | concat: invalid_publications %}
      <h2 id="publicationsTitle">Publications</h2>
      <ul class="yearList">
        {% for year in unique_years %}
        <li>
          <h3 class="yearTitle">{{ year }}</h3>
          {% assign unique_months = "" | split: "," %}
          {% for publication in publications %}
            {% if publication.year == year %}
              {% assign pubmonth = publication.month | plus: 0 %}
              {% unless unique_months contains pubmonth %}
                {% assign unique_months = unique_months | push: pubmonth %}
              {% endunless %}
            {% endif %}
          {% endfor %}
          {% assign unique_months = unique_months | sort_natural | reverse %}
          {% for month in unique_months %}
            <ul class="monthList">
              <li>
                {% assign MONTH_NAMES = "???,Jan.,Feb.,Mar.,Apr.,May.,Jun.,Jul.,Aug.,Sep.,Oct.,Nov.,Dev." | split: "," %}
                {% for item in MONTH_NAMES %}
                  {% if forloop.index0 == month %}
                    {% assign month_name = item %}
                    {% break %} 
                  {% endif %}
                {% endfor %}
                <h4 class="monthTitle">{{ month_name }}<h4>
                <ul class="pubList">
                  {% for publication in publications %}
                    {% if publication.year == year %}
                      {% assign pubmonth = publication.month | plus: 0 %}
                      {% if pubmonth == month %}
                        <li class="pubEntry">
                          <div class="pubEntryImgContainer">
                            {% unless publication.image %}
                            <img class="pubEntryImg" src="data/images/{{ publication.authors[0].name | split: " " | last | remove: "*" }}{{ publication.publisher | split: " " | first | remove: "-" }}{{ year }}.png" />
                            {% else %}
                            <img class="pubEntryImg{% if publication.image2 %}1{% endif %}" src="{{ publication.image }}" />
                            {% endunless %}
                            {% if publication.image2 %}
                              <img class="pubEntryImg2" src="{{ publication.image2 }}" />
                            {% endif %}
                          </div>
                          <div class="pubEntryContent">
                            <h5 class="pubEntryTitle"><a href="{{ publication.source }}" target="_blank">{{ publication.title | markdownify }}</a></h5>
                            <ul class="authorList">
                              {% for author in publication.authors %}
                              <li>{% if author.link %}<a href="{{ author.link }}" target="_blank">{% endif %}{{ author.name }}{% if author.link %}</a>{% endif %}</li>
                              {% endfor %}
                            </ul>
                            <span class="publisher">{{ publication.publisher }}</span>
                            <div class="summary">
                              {{ publication.content | markdownify }}
                            </div>
                            {% assign hasBibtex = 0 %}
                            {% for link in publication.links %}
                            {% if link[0] == "BibTeX" %}
                            {% assign hasBibtex = 1 %}
                            {% endif %}
                            {% endfor %}
                            {% unless hasBibtex == 1 %}
                            {% assign bibtexIdx = 0 %}
                            {% assign tmp = "BibTeX" | split: "," %}
                            {% for link in publication.links %}
                            {% assign tmp2 = link[0] | split: "," %}
                            {% assign names = names | concat: tmp2 %}
                            {% endfor %}
                            {% assign names = names | concat: tmp | sort_natural %}
                            {% for name in names %}
                            {% assign tmp3 = name | downcase %}
                            {% if tmp3 == "bibtex" %}
                            {% assign bibtexIdx = forloop.index0 %}
                            {% endif %}
                            {% endfor %}
                            {% endunless %}
                            <ul class="linkList">
                              {% for link in publication.links %}
                              {% if forloop.index0 == bibtexIdx %}
                              <li><a href="data/bibtex/{{ publication.authors[0].name | split: " " | last | remove: "*" }}{{ publication.publisher | split: " " | first | remove: "-" }}{{ year }}.bib">BibTeX</a></li>
                              {% endif %}
                              <li><a href="{{ link[1] }}" target="_blank">{{ link[0] }}</a></li>
                              {% endfor %}
                            </ul>
                          </div>
                        </li>
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                </ul>
              </li>
            </ul>
          {% endfor %}
        </li>
        {% endfor %}
      </ul>
    </section>
  </body>
</html>
