---
---
<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="author" content="{{ site.author }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Computer Vision Group</title>
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="icon" href="assets/images/favicon.png" type="image/png">
  </head>
  <body>
    <header>
      <div>
        <h1 class="centered">{{ site.title }}</h1>
        <p>The <a href="https://www.cv.informatik.uni-siegen.de">Computer Vision Group</a> headed by Prof. Michael Moeller conducts research in the field of mathematical image processing, computer vision, and machine learning.</p>
        <div class="centered"><a href="https://scholar.google.de/citations?user=sxzdAGUAAAAJ">Scholar</a> / <a href="https://github.com/Computer-Vision-Group-Siegen/">GitHub</a></div>
      </div>
      <img id="logo" src="assets/images/logo.png"></img>
    </header>

    <section id="research">
      <h2>Research</h2>
      <p>Research in computer vision, machine learning, optimization. </p>
    </section>

    <section>
      {% assign all_years = site.publications | map: "year" %}
      {% assign unique_years = "" | split: "," %}
      {% for year in all_years %}
        {% unless unique_years contains year %}
          {% assign unique_years = unique_years | push: year %}
        {% endunless %}
      {% endfor %}
      {% assign unique_years = unique_years | sort_natural | reverse %}
      {% assign publications = site.publications | sort_natural: "title" %}
      <h2>Publications</h2>
      <ul class="yearList">
        {% for year in unique_years %}
        <li>
          <h3>{{ year }}</h3>
          <ul class="pubList">
            {% for publication in publications %}
            {% if publication.year == year %}
            <li class="pubEntry">
              <div class="pubEntryImgContainer">
                {% unless publication.image %}
                <img class="pubEntryImg" src="data/images/{{ publication.authors[0].name | split: " " | last | remove: "*" }}{{ publication.publisher | split: " " | first | remove: "-" }}{{ year }}.png" />
                {% else %}
                <img class="pubEntryImg{% if publication.image2 %}1{% endif %}" src="{{ publication.image }}" />
                {% endunless %}
                {% if publication.image2 %}
                  <img class="pubEntryImg2" src="{{ publication.image2 }}" />
                {% endif %}
              </div>
              <div class="pubEntryContent">
                <h4 class="pubEntryTitle"><a href="{{ publication.source }}">{{ publication.title }}</a></h4>
                <ul class="authorList">
                  {% for author in publication.authors %}
                  <li>{% if author.link %}<a href="{{ author.link }}">{% endif %}{{ author.name }}{% if author.link %}</a>{% endif %}</li>
                  {% endfor %}
                </ul>
                <span class="publisher">{{ publication.publisher }}</span>
                <div class="summary">
                  {{ publication.content | markdownify }}
                </div>
                {% assign hasBibtex = 0 %}
                {% for link in publication.links %}
                {% if link[0] == "BibTeX" %}
                {% assign hasBibtex = 1 %}
                {% endif %}
                {% endfor %}
                {% unless hasBibtex == 1 %}
                {% assign bibtexIdx = 0 %}
                {% assign tmp = "BibTeX" | split: "," %}
                {% for link in publication.links %}
                {% assign tmp2 = link[0] | split: "," %}
                {% assign names = names | concat: tmp2 %}
                {% endfor %}
                {% assign names = names | concat: tmp | sort_natural %}
                {% for name in names %}
                {% if name == "BibTeX" %}
                {% assign bibtexIdx = forloop.index0 %}
                {% endif %}
                {% endfor %}
                {% endunless %}
                <ul class="linkList">
                  {% for link in publication.links %}
                  {% if forloop.index0 == bibtexIdx %}
                  <li><a href="data/bibtex/{{ publication.authors[0].name | split: " " | last | remove: "*" }}{{ publication.publisher | split: " " | first | remove: "-" }}{{ year }}.bib">BibTeX</a></li>
                  {% endif %}
                  <li><a href="{{ link[1] }}">{{ link[0] }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </li>
        {% endfor %}
      </ul>
    </section>
  </body>
</html>
