@import url("lato.css");

* {
    box-sizing: border-box;
    font-family: "Lato", Verdana, Helvetica, sans-serif;
    font-size: 10.5pt;
}

body {
    max-width: 800px;
    margin: 40px auto;
    padding: 0px 20px;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    font-weight: normal;
}

h1 {
    font-size: 24pt;
}

h2 {
    font-size: 18pt;
}

h3, h4 {
    font-size: 16pt;
}

h5 {
    font-size: 12pt;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

input[type="checkbox"], .collapsibleBlockCheckbox {
    display: none;
}

.collapsibleBlockLabel {
    display: block;
}

.collapsibleBlockLabel::before {
    content: ' ';
    display: inline-block;
  
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid currentColor;
  
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-3.5px);
  
    transition: transform .2s ease-out;
}

.collapsibleBlockContent {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
}

.collapsibleBlockCheckbox:checked + .collapsibleBlockLabel + .collapsibleBlockContent {
    max-height: inherit;
}

.collapsibleBlockCheckbox:checked + .collapsibleBlockLabel::before {
    transform: rotate(90deg) translateX(-3px);
}
  
.collapsibleBlockCheckbox:checked + .collapsibleBlockLabel {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}  

#logo {
    flex: 1;
    height: 150px;
    aspect-ratio: 1/1;
    margin-left: 20px;
}

.centered {
    text-align: center;
}

section {
    margin-top: 50px;
}

.yearTitle {
    display: inline-block;
}

.yearList {
    list-style-type: none;
    padding: 0;
}

.yearList > li {
    margin-top: 30px;
}

.monthList {
    list-style-type: none;
    padding: 0;
}

.monthList > li {
    margin-top: 30px;
}

.monthTitle {
    display: none;
}

.pubList {
    list-style-type: none;
    padding: 0;
}

.pubEntry {
    margin-top: 30px;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    column-gap: 20px;
}

.pubEntryImgContainer {
    position: relative;
    flex: 150px 0 0;
    align-self: center;
    overflow: hidden;
}

.pubEntryImgContainer > img {
    width: 150px;
    object-fit: contain;
}

@keyframes crossfade {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0.0;
    }
}

.pubEntryImgContainer:hover > .pubEntryImg1 {
    animation-name: crossfade;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.pubEntryImg2 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.0;
}

.pubEntryImgContainer:hover > .pubEntryImg2 {
    animation-name: crossfade;
    animation-duration: 1s;
    animation-direction: reverse;
    animation-fill-mode: forwards;
}

.pubEntryTitle {
    font-weight: bold;
    margin-bottom: 10px;
}

.pubEntryTitle > a > p {
    display: inline;
}

.trophy {
    white-space:nowrap;
    overflow: clip;
    position: relative;
}

.trophy:after {
    background: #fff;
    content: "";
    height: 50px;
    left: -25px;
    top: -20px;
    opacity: 0.75;
    position: absolute;
    transform: rotate(35deg);
    width: 3px;
    animation: 3s linear 0s infinite normal blingBling;
}

@keyframes blingBling {
    from {
        left: -25px;
    }
    to {
        left: 1700%;
    }
}

.pubEntryContent {
    display: flex;
    flex-flow: column nowrap;
}

.authorList {
    list-style-type: none;
    padding: 0;
    margin-bottom: 5px;
    display: flex;
    flex-flow: row wrap;
}

.authorList > li::after {
    content: ",\00a0\00a0";
}

.authorList > li:last-child::after {
    content: "";
}

.publisher {
    font-style: italic;
}

.summary > p {
    margin: 10px 0;
}

.linkList {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
}

.linkList > li::after {
    content: "\00a0/\00a0";
}

.linkList > li:last-child::after {
    content: "";
}